# 잘 몰라서 시작하는 pandas 기초

가장 먼저, pip install pandas

In [5]:
import pandas as pd

In [8]:
pwd

'e:\\soyoung_github\\Pandas_exercise'

csv 파일 불러오기

In [17]:
train_df = pd.read_csv('E:\\soyoung_github\\Pandas_exercise\data\\train.csv')
# data\train.csv

train_df.shape

(32470, 6)

cell 끝까지 다 보기

In [23]:
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.max_colwidth', None)

각 column의 dtype 확인하기

In [34]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32470 entries, 0 to 32469
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              32470 non-null  int64
 1   sentence        32470 non-null  object
 2   subject_entity  32470 non-null  object
 3   object_entity   32470 non-null  object
 4   label           32470 non-null  object
 5   source          32470 non-null  object
dtypes: int64(1), object(5)
memory usage: 1.5+ MB

## 검색

### index 기준으로 추출하기

In [24]:
train_df[train_df.id == 9]

,id,sentence,subject_entity,object_entity,label,source
9,9,"특히 김동연 전 경제부총리를 비롯한 김두관 국회의원, 안규백 국회의원, 김종민 국회의원, 오제세 국회의원, 최운열 국회의원, 김정우 국회의원, 권칠승 국회의원, 맹성규 국회의원등 더불어민주당 국회의원 8명이 영상 축하 메세지를 보내 눈길을 끌었다.","{'word': '안규백', 'start_idx': 30, 'end_idx': 32, 'type': 'PER'}","{'word': '더불어민주당', 'start_idx': 100, 'end_idx': 105, 'type': 'ORG'}",per:employee_of,wikitree

### index 기준으로 추출하기 : iloc

In [116]:
for i in range(4):
    print((train_df.iloc[i]['sentence']))

〈Something〉는 조지 해리슨이 쓰고 비틀즈가 1969년 앨범 《Abbey Road》에 담은 노래다.
호남이 기반인 바른미래당·대안신당·민주평화당이 우여곡절 끝에 합당해 민생당(가칭)으로 재탄생한다.
K리그2에서 성적 1위를 달리고 있는 광주FC는 지난 26일 한국프로축구연맹으로부터 관중 유치 성과와 마케팅 성과를 인정받아 ‘풀 스타디움상’과 ‘플러스 스타디움상’을 수상했다.
균일가 생활용품점 (주)아성다이소(대표 박정부)는 코로나19 바이러스로 어려움을 겪고 있는 대구광역시에 행복박스를 전달했다고 10일 밝혔다.

## deepcopy

In [96]:
ex = train_df[train_df.id == 9].copy(deep=True)

eval은 str to dict

In [97]:
eval(ex.iloc[0]['subject_entity'])['word']

'안규백'

## 기타

### regrex를 이용해서 split 하는 법

In [110]:
ex = train_df[train_df.id == 0].copy(deep=True)
ex

,id,sentence,subject_entity,object_entity,label,source
0,0,〈Something〉는 조지 해리슨이 쓰고 비틀즈가 1969년 앨범 《Abbey Road》에 담은 노래다.,"{'word': '비틀즈', 'start_idx': 24, 'end_idx': 26, 'type': 'ORG'}","{'word': '조지 해리슨', 'start_idx': 13, 'end_idx': 18, 'type': 'PER'}",no_relation,wikipedia

In [111]:
# sub_ent의 "word"와 obj_ent의 "word"를 뽑아와서 
eval(ex.iloc[0]['subject_entity'])['word']+'|'+eval(ex.iloc[0]['object_entity'])['word']

'비틀즈|조지 해리슨'

In [113]:
ex.iloc[0]['sentence']

'〈Something〉는 조지 해리슨이 쓰고 비틀즈가 1969년 앨범 《Abbey Road》에 담은 노래다.'

In [114]:
import re
regrex_s = eval(ex.iloc[0]['subject_entity'])['word']+'|'+eval(ex.iloc[0]['object_entity'])['word']
re.split(regrex_s, ex.iloc[0]['sentence'])

['〈Something〉는 ', '이 쓰고 ', '가 1969년 앨범 《Abbey Road》에 담은 노래다.']

## APPLY

### Apply 기초 - 사용자 정의 함수

In [128]:
ex = train_df[train_df.id < 2].copy(deep=True)
ex

,id,sentence,subject_entity,object_entity,label,source
0,0,〈Something〉는 조지 해리슨이 쓰고 비틀즈가 1969년 앨범 《Abbey Road》에 담은 노래다.,"{'word': '비틀즈', 'start_idx': 24, 'end_idx': 26, 'type': 'ORG'}","{'word': '조지 해리슨', 'start_idx': 13, 'end_idx': 18, 'type': 'PER'}",no_relation,wikipedia
1,1,호남이 기반인 바른미래당·대안신당·민주평화당이 우여곡절 끝에 합당해 민생당(가칭)으로 재탄생한다.,"{'word': '민주평화당', 'start_idx': 19, 'end_idx': 23, 'type': 'ORG'}","{'word': '대안신당', 'start_idx': 14, 'end_idx': 17, 'type': 'ORG'}",no_relation,wikitree

In [129]:
def change(x):
    x = eval(x)
    return x['word']

In [130]:
ex['subject_entity'] = ex['subject_entity'].apply(lambda x: change(x))
ex['object_entity'] = ex['object_entity'].apply(lambda x: change(x))
ex

,id,sentence,subject_entity,object_entity,label,source
0,0,〈Something〉는 조지 해리슨이 쓰고 비틀즈가 1969년 앨범 《Abbey Road》에 담은 노래다.,비틀즈,조지 해리슨,no_relation,wikipedia
1,1,호남이 기반인 바른미래당·대안신당·민주평화당이 우여곡절 끝에 합당해 민생당(가칭)으로 재탄생한다.,민주평화당,대안신당,no_relation,wikitree

### Apply - 함수에 복수 인자 적용하기    
 https://chancoding.tistory.com/191

In [138]:
ex = train_df[train_df.id < 2].copy(deep=True)
ex

,id,sentence,subject_entity,object_entity,label,source
0,0,〈Something〉는 조지 해리슨이 쓰고 비틀즈가 1969년 앨범 《Abbey Road》에 담은 노래다.,"{'word': '비틀즈', 'start_idx': 24, 'end_idx': 26, 'type': 'ORG'}","{'word': '조지 해리슨', 'start_idx': 13, 'end_idx': 18, 'type': 'PER'}",no_relation,wikipedia
1,1,호남이 기반인 바른미래당·대안신당·민주평화당이 우여곡절 끝에 합당해 민생당(가칭)으로 재탄생한다.,"{'word': '민주평화당', 'start_idx': 19, 'end_idx': 23, 'type': 'ORG'}","{'word': '대안신당', 'start_idx': 14, 'end_idx': 17, 'type': 'ORG'}",no_relation,wikitree

In [143]:
def change_sent(x):

    sent = eval(x[1])['word']+'와 '+eval(x[2])['word']+'는 '+x[3]+'관계이며 '+x[4]+'에서 왔습니다.'
    return sent

In [144]:
ex['sentence']=ex[['sentence', 'subject_entity','object_entity','label','source']].apply(change_sent, axis=1)
ex

,id,sentence,subject_entity,object_entity,label,source
0,0,비틀즈와 조지 해리슨는 no_relation관계이며 wikipedia에서 왔습니다.,"{'word': '비틀즈', 'start_idx': 24, 'end_idx': 26, 'type': 'ORG'}","{'word': '조지 해리슨', 'start_idx': 13, 'end_idx': 18, 'type': 'PER'}",no_relation,wikipedia
1,1,민주평화당와 대안신당는 no_relation관계이며 wikitree에서 왔습니다.,"{'word': '민주평화당', 'start_idx': 19, 'end_idx': 23, 'type': 'ORG'}","{'word': '대안신당', 'start_idx': 14, 'end_idx': 17, 'type': 'ORG'}",no_relation,wikitree